/*********************generel*****************/

main {
  max-width: 1200px;
  margin-inline: auto;
}

/**********************mobile******************/
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.pic1,
.pic4,
.pic5,
.pic6 {
  grid-column: span 2;
}

/***************** desktop ******************/

@media (min-width: 840px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .order {
    order: -1;
  }

  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 20px;
  }
  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
  }
  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .grid_1-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid_1-1-1-1 img {
    object-fit: cover;
    align-self: stretch;
  }

  .pic1 {
    grid-row: span 2;
  }
  .pic5 {
    grid-column: span 1;
  }
  .pic6 {
    grid-column: span 3;
  }
}
