/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: "Cabin";
  src: url("minfont/cabin-variablefont_wdthwght-webfont.woff2") format("woff2"),
    url("minfont/cabin-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Cabin", sans-serif;
  margin-top: 20px;
  img {
    margin-top: 20px;
  }
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e10ea5;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 50px;
  height: 50px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #fffcfc;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #111ac9;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
}
